<!DOCTYPE html>
<html>
    <head>
        <title>Editar Mensagem</title>
    </head>
    <body>
        <form th:object="${msg}" action="/editarMensagem" method="post">
            <input name="id" th:field="*{id}" type="hidden">
            <h2>Titulo</h2>
            <input name="titulo" type="text" th:field="*{titulo}">
            <h2>Mensagem</h2>
            <textarea name="mensagem" maxlength="255" th:field="*{Mensagem}"></textarea>
            <h2>Data</h2>
            <input name="data" type="date" th:field="*{data}">
            <input type="submit" value="Editar Mensagem">
        </form>
    </body>
</html>